src/flow.json
[{"id":"577dbb9.46fdcc4","type":"uibuilder","z":"e34dcb58.c8d3d","name":"","topic":"","url":"pump-ui","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"text","x":380,"y":80,"wires":[["f4d1c3d4.c494f8","ddebe320.e54d98"],[]]},{"id":"c58c8a35.65638","type":"inject","z":"e34dcb58.c8d3d","name":"Stop","topic":"stop","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["da9e8943.605178"]]},{"id":"3c9dd2d4.163a8e","type":"inject","z":"e34dcb58.c8d3d","name":"Control","topic":"tab_control","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["b0035fb8.3a0a1"]]},{"id":"c5d64ec4.327d2","type":"inject","z":"e34dcb58.c8d3d","name":"Alerts","topic":"tab_alerts","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":340,"wires":[["b0035fb8.3a0a1"]]},{"id":"97b7b42d.c34e88","type":"inject","z":"e34dcb58.c8d3d","name":"Sensors","topic":"tab_sensors","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":340,"wires":[["b0035fb8.3a0a1"]]},{"id":"d8547753.e7696","type":"link in","z":"e34dcb58.c8d3d","name":"","links":["b0035fb8.3a0a1","9e01299d.2f82d8","151bce02.03499a","292a6382.1576fc","ecabd2bf.930418","da9e8943.605178","bf4fde71.d72c5"],"x":275,"y":80,"wires":[["577dbb9.46fdcc4"]]},{"id":"b0035fb8.3a0a1","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":755,"y":340,"wires":[]},{"id":"b4abb57c.601f68","type":"inject","z":"e34dcb58.c8d3d","name":"Auto","topic":"mode","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["9e01299d.2f82d8"]]},{"id":"13ca07f7.8f2988","type":"inject","z":"e34dcb58.c8d3d","name":"Manual","topic":"mode","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["9e01299d.2f82d8"]]},{"id":"9e01299d.2f82d8","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":195,"y":80,"wires":[]},{"id":"44cf8664.3b7dc8","type":"inject","z":"e34dcb58.c8d3d","name":"503","topic":"alert","payload":"{\"text\": \"Minor error\", \"code\": \"503\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":500,"wires":[["151bce02.03499a"]]},{"id":"7191daf6.169954","type":"inject","z":"e34dcb58.c8d3d","name":"504","topic":"alert","payload":"{\"text\": \"Critical error\", \"code\": \"504\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":540,"wires":[["151bce02.03499a"]]},{"id":"5bdacaf7.16851c","type":"inject","z":"e34dcb58.c8d3d","name":"404","topic":"alert","payload":"{\"text\": \"Major error\", \"code\": \"404\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":460,"wires":[["151bce02.03499a"]]},{"id":"841ce9f7.710a58","type":"comment","z":"e34dcb58.c8d3d","name":"Alerts","info":"","x":470,"y":420,"wires":[]},{"id":"151bce02.03499a","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":515,"y":380,"wires":[]},{"id":"cfe57a9e.272b08","type":"comment","z":"e34dcb58.c8d3d","name":"Mode","info":"","x":90,"y":40,"wires":[]},{"id":"f4d1c3d4.c494f8","type":"debug","z":"e34dcb58.c8d3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":80,"wires":[]},{"id":"10f21a49.33e28e","type":"inject","z":"e34dcb58.c8d3d","name":"0","topic":"actual","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":660,"wires":[["292a6382.1576fc"]]},{"id":"74a68cd0.1130dc","type":"comment","z":"e34dcb58.c8d3d","name":"Actual","info":"","x":290,"y":620,"wires":[]},{"id":"d3f271d1.1130b8","type":"inject","z":"e34dcb58.c8d3d","name":"47","topic":"actual","payload":"47","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":700,"wires":[["292a6382.1576fc"]]},{"id":"417ec1f6.d82798","type":"inject","z":"e34dcb58.c8d3d","name":"120","topic":"actual","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":740,"wires":[["292a6382.1576fc"]]},{"id":"292a6382.1576fc","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":335,"y":580,"wires":[]},{"id":"c8a9fbb.b3fce08","type":"inject","z":"e34dcb58.c8d3d","name":"0","topic":"setpoint","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":460,"wires":[["ecabd2bf.930418"]]},{"id":"68d9562d.172a48","type":"comment","z":"e34dcb58.c8d3d","name":"Setpoint","info":"","x":300,"y":420,"wires":[]},{"id":"40376f36.2cf1c","type":"inject","z":"e34dcb58.c8d3d","name":"74","topic":"setpoint","payload":"74","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":500,"wires":[["ecabd2bf.930418"]]},{"id":"456bc4bd.01a67c","type":"inject","z":"e34dcb58.c8d3d","name":"120","topic":"setpoint","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":540,"wires":[["ecabd2bf.930418"]]},{"id":"ecabd2bf.930418","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":335,"y":380,"wires":[]},{"id":"ddebe320.e54d98","type":"function","z":"e34dcb58.c8d3d","name":"init","func":"if (msg.topic == 'init') {\n    msg.payload = {\n        mode: 'manual',\n        running: false,\n        actual: 11,\n        setpoint: 12,\n        alerts: [],\n        sensors: {\n          temperature: [],\n          vibrations: {\n            x: [],\n            y: [],\n            z: [],\n          }\n        },\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["577dbb9.46fdcc4"]]},{"id":"da9e8943.605178","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":175,"y":340,"wires":[]},{"id":"467ec6f3.4ca9e","type":"comment","z":"e34dcb58.c8d3d","name":"Running","info":"","x":100,"y":300,"wires":[]},{"id":"e53769ee.08fa38","type":"inject","z":"e34dcb58.c8d3d","name":"OK / Start","topic":"ok","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":220,"wires":[["bf4fde71.d72c5"]]},{"id":"b06384b0.08b3f","type":"inject","z":"e34dcb58.c8d3d","name":"Increase","topic":"increase","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":220,"wires":[["bf4fde71.d72c5"]]},{"id":"bc801fbf.87ddb","type":"inject","z":"e34dcb58.c8d3d","name":"Decrease","topic":"decrease","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["bf4fde71.d72c5"]]},{"id":"bf4fde71.d72c5","type":"link out","z":"e34dcb58.c8d3d","name":"","links":["d8547753.e7696"],"x":655,"y":220,"wires":[]}]